html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

div.tooltip {		
  position: absolute;
  width: 220px;					
  height: 60px;					
  padding: 2px;				
  font: 12px sans-serif;		
  background: rgb(201, 176, 222);	
  border: 0px;		
  border-radius: 8px;			
  pointer-events: none;
}

.shared-layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
}
