.take-action-box {
    width: 40%;
    min-width: 280px;
    max-width: 400px;
}

.take-action-image {
    width: 100%;
}

.take-action-text {
    color: #fff;
}

.take-action-link:hover, .take-action-link:active {
    text-decoration: underline;
    text-decoration-color: #fff;
}
