@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url("https://use.typekit.net/zvb2tiw.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
}

#__next {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

div.tooltip {
  position: absolute;
  width: 220px;
  height: 60px;
  padding: 2px;
  font: 12px sans-serif;
  background: rgb(240, 100, 73);
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}

.small {
  font-size: 15px;
  line-height: 20px;
}

h1, h2, h3, h4 {
  font-family: proxima-nova, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 42px;
  line-height: 42px;
  letter-spacing: 0.05em;
}

h2 {
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 18px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

/* Colors */
.text-ff-teal {
  color: #32b4b4;
}

.text-ff-red {
  color: #F06449;
}

/* Components */
.shared-layout {
  padding-top: 95px; /* sticky navbar */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.back-button {
  color: #32b4b4;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.back-button:hover {
  cursor: pointer;
}

.breadcrumbs span {
  color: #000;
  font-family: Arial;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.breadcrumbs span:first-of-type {
  color: #32b4b4;
}

.breadcrumbs span:first-of-type:hover {
  cursor: pointer;
}

.content {
  flex: 1;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;
}

.header .logo {
  max-width: 134px;
}

.header .nav-item a {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #000;
  margin-left: 40px;
}

.header .nav-item-safety a {
  color: #f06449;
}

.footer {
  background-color: #000;
  color: #fff;
}

.footer h2 {
  font-weight: 400;
  margin-bottom: 30px;
}

.footer .nav-item a {
  color: #fff;
  font-size: 18px;
  line-height: 28px;
}

.no-bullets {
  list-style-type: none;
}

.no-indents {
  padding-left: 0;
}
