@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  overflow-x: hidden;
}

[type="button"] {
  -webkit-appearance: none;
}

#__next {
  padding: 0;
  margin: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

div.tooltip {
  position: absolute;
  padding: 2px;
  width: min(100vw, 325px);
  font-family: 'Poppins';
  background: #fff;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
}

#us-map path:hover {
  fill-opacity: 0.75;
  cursor: pointer;
}

p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #000;
}

.small {
  font-size: 15px;
  line-height: 20px;
}

h1, h2, h3, h4 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.05em;
  margin-bottom: 18px;
  text-transform: uppercase;
}

h1 {
text-transform: capitalize;
}

.subpage-header {
  text-transform: uppercase;
  color: #F06449;
}

h2 {
  font-size: 34px;
  line-height: 34px;
  margin-top: 36px;
}

h3 {
  font-size: 24px;
  line-height: 24px;
}

h4 {
  font-size: 20px;
  line-height: 20px;
}

input {
  border: 0;
  border-bottom: 1px solid #292F36;
  border-radius: 0;
}

.checkbox {
  display: inline;
  padding-left: 5px;
}

/* Colors */
.text-ff-teal {
  color: #32b4b4;
}

.text-ff-red {
  color: #F06449;
}

/* Components */
.shared-layout {
  padding-top: 95px; /* sticky navbar */
  display: flex;
  flex-direction: column;
}

.shared-layout > .container-fluid {
  background-color: #FDFAF9;
  /* Ensure a min height for the container that scales to the viewport */
  min-height: calc(100vh - 300px);
}

.shared-layout > .container-fluid {
  background-color: #FDFAF9;
}

.back-button {
  color: #32b4b4;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.back-button:hover {
  cursor: pointer;
}

.breadcrumbs span {
  color: #000;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.breadcrumbs span:first-of-type {
  color: #32b4b4;
}

.breadcrumbs span:first-of-type:hover {
  cursor: pointer;
}

.content {
  flex: 1;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #efefef;
}

.header .logo {
  max-width: 134px;
}

.header .nav-item a {
  font-family: 'Poppins';
  text-transform: uppercase;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #000;
  margin-left: 40px;
}

.header .nav-item-safety a {
  color: #f06449;
}

.card-body h5 {
  font-size: 24px;
  font-weight: 600;
}

.card-body h6 {
  font-size: 14px;
  font-weight: 400;
}

.card-body p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.footer {
  background-color: #47cccc;
  color: #fff;
  text-align: center;
}

.footer h2 {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: none;
}

.footer .nav-item a {
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.footer .nav-item a:hover {
  text-decoration: underline;
}

.no-bullets {
  list-style-type: none;
}

.no-indents {
  padding-left: 0;
}

.big-indents {
  padding-left: 60px;
}

.checklistIcon {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.orange-button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #F06449;
    border: none;
    padding: 6.75px 0;
    background-color: rgba(255, 151, 151, 0.1);
}

.orange-button:hover, .orange-button:focus, .orange-button:active {
    text-decoration: underline;
    color: #F06449 !important;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    background-color: rgba(255, 151, 151, 0.1) !important;
}

.footnotes {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.state-page .understanding-report button {
    font-size: 34px;
    margin-bottom: 0px;
}

/* FIXME: Consolidate state page modal button css with take action css */
.state-page .understanding-report .modal-button {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #32B4B4 !important;
    margin: 27px;
    padding: 6.75px 10px;
    background-color: rgba(170,229,225,0.1) !important;
}

.state-page .understanding-report .modal-button:hover {
    color: #32B4B4 !important;
    background-color: rgba(170,229,225,0.1) !important;
}

.state-page .understanding-report .modal-button:active {
    color: #32B4B4 !important;
    background-color: rgba(170,229,225,0.1) !important;
}

.scorecard-container > .overall {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
}

.policies h3 {
  border-radius: 30px;
  border-width: 1px;
  color: white;
}

.positive h3 {
  background-color: #FFB400;
  border-color: #FFB400;
}

.adverse h3 {
  background-color: #FF583D;
  border-color: #FF583D;
}

.positive-missing h3 {
  background-color: #00CFCE;
  border-color: #00CFCE;
}

.adverse-avoid h3 {
  background-color: #FF9194;
  border-color: #FF9194;
}

.guide-heading {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
}

.empty-square-icon {
    font-size: 2em;
    margin-right: 8px;
    padding-bottom: 2px;
}

.checklist-item {
    display: flex;
    align-items: center;
}

.score-label {
  border-radius: 30px;
  display: inline;
  font-size: 0.8em;
  font-weight: 600;
  padding: 10px 15px;
  text-transform: uppercase;
  width: fit-content;
}

.score-label.overall-3 {
    background-color: #FFB600;
}

.score-label.overall-2 {
    background-color: #47CCCC;
}

.score-label.overall-1 {
    background-color: #AAE5E1;
}

.score-label.overall-0 {
    background-color: #FF9797;
}

.score-label.overall--1 {
    background-color: #F06449;
}

.score-label.category-3 {
    background-color: #FFB600;
}

.score-label.category-2 {
    background-color: #47CCCC;
}

.score-label.category-1 {
    background-color: #AAE5E1;
}

.score-label.category-0 {
    background-color: #FF9797;
}

.score-label.category--1 {
    background-color: #F06449;
}

.asterisk {
  color: #F06449;
}

.ne-zoom-button {
  background-color: #ffffff;
  color: #212529;
  border-radius: 2px;
  font-size:0.6em;
  font-weight: 400;
  line-height: 20px;
  padding: 3px;
  float: none;
  width: 50px;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #767676;
  border-radius: 2px;
}

.fs-16px {
  font-size: 16px;
}

.fs-21px {
  font-size: 21px;
}

.fw-600 {
  font-weight: 600;
}

.state-to-watch-headline {
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
}

.state-to-watch-text {
  font-size: 14px;
  line-height: 24px;
}

@media screen and (max-width: 440px) {
  .methodology-header {
    font-size: 34px;
    line-height: 34px;
  }
  .methodology-subheader {
    font-size: 26px;
    line-height: 26px;
  }
  .big-indents, .no-bullets {
    padding-left: 30px;
  }
}
